@font-face{
  font-family: 'Retroville';
  src: url('/RetrovilleNC.ttf');
}

@font-face{
  font-family: 'Vonique64';
  src: url('/Vonique_64.ttf');
}

body{
  background-color: #666547;
  color: #6FCB9F;
}

h1, h2, h3{
  padding: 0;
  margin: 0;
}

a{
  color: #FFFEB3;
  text-decoration: none;
}

a:visited{
  color: #FFFEB3;
}

#main_title{
  font-family: 'Retroville', serif;
  font-size: 4em;
}

.game_title{
  font-family: 'Vonique64', serif;
  font-weight: bold;
  color: white;
}

.bold{
  font-weight: bold;
}

#sidebar{
  float: left;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  padding-right: 5px;
  background-color: #766A47;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Vonique64', serif;
}

#main_content{
  float: left;
  margin-left: 20px;
  width: 75%;
}

.delete_link,
.delete_link:visited{
  color: #FB2E01;
}

.play_link, .dl_link,
.play_link:visited,
.dl_link:visited{
  color: #9BB4CE;
}

.game_preview{
  margin-bottom: 10px;
}

.preview_screen{
  float: left;
  margin-right: 10px;
}

.preview_text{
  float: right;
  margin-top: 10px;
}
